img { 

    width: 100%; 

}

#search { 

    display: flex; 
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;

}

#searchbox {

    width: 300px; 

}

#maingrid { 

    margin: auto; 
    max-width: 750px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 

}; 
